<div class="text-center m-auto"  style="width:350px">
  <h1>Forgot Password?</h1>
  <form class="signup" action="/users/reset-password" method="POST">
    <input type="email" name="email" placeholder="Your Email" required/>
    <p>Enter your user account's verified email address and we will send you a password reset link on your registered email!</p>
    <input type="submit" value="Submit"/>
  </form>
  <a href="/users/sign-in">< back</a>
</div>