<div class="text-center">

  <h1>Sign In</h1>
  <form class="signup" action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email" required/>
    <input type="password" name="password" placeholder="Password" required/>
    <input type="submit" value="Sign In"/>
  </form>
  <a href="/users/forgot-password">Forgot password?</a>

  <h2 class="text-center"><a href="/users/sign-up">Sign Up</a></h2>
  

  <h3 class="text-center">OR</h3>

  <p class="text-center"><a href="/users/auth/google">Google Sign In/Sign Up</a></p>
</div>
