<html>
  <head>
    <style>
      .container{
        text-align: center;
      }


      #header{
        background-color: #0070DF;
        display: flex;
        color: white;
        padding:5px;
        height:50px;
      }
      .logo{
        display: flex;
        align-items: center;
      }
      .social{
        width:100px;
        font-size: 30px;
        margin: auto 10px;
      }

      #header a{
        color: white;
        text-decoration: none;
      }

      #footer {
        background: #808B96;
        display: flex;
        color: white;
        font-size: 20px;
        padding:5px;
        height:50px;
      }
      p{
        margin: auto 10px;
      }
    </style>

  </head>
  <body>
    <link href="/css/password_mailer.css" rel="stylesheet">
    <header id="header">
      <a href="/" class="logo"><p class="social">Authentication</p></a>
    </header>
    <div class="container">
      <h3>Hi, <%= user.user.name%></h1>  <br>
      <br>
      <a href="http://localhost:8800/users/reset-password/<%= user.token %>">Follow  the link to reset password</a>
      <br>
      <br>
      <p>Thanks!</p>
    </div>
    
    <footer id='footer'>
      <p>@Social. All rights reserved</p>
    </footer>
  </body>

</html>
