body {
  margin: 0; }

form input {
  display: block;
  margin: 10px auto; }

#layout-main {
  min-height: 100%;
  background: #e0e0e0;
  padding: 50px; }
  #layout-main h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 20px; }

.fa-close {
  color: #e0e0e0;
  float: right; }

ul {
  padding-left: 0; }

#set-avatar {
  width: 210px; }

#output_image {
  width: 100px;
  height: 100px; }

.hide {
  display: none; }
