body {
  margin: 0; }

form input {
  display: block;
  margin: 10px auto; }

#layout-main {
  min-height: 100%;
  background: #e0e0e0;
  padding: 50px; }
  #layout-main h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 20px; }

.fa-close {
  color: #e0e0e0;
  float: right; }

ul {
  padding-left: 0;
  list-style-type: none; }

#set-avatar {
  width: 210px; }

#output_image {
  width: 100px;
  height: 100px; }

.hide {
  display: none; }

#g-login-btn:hover {
  text-decoration: none; }

#g-login-btn #customBtn {
  display: flex;
  background: white;
  color: #444;
  align-items: center;
  width: 190px;
  margin: auto;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey; }

#g-login-btn #customBtn:hover {
  cursor: pointer; }

#g-login-btn span.label {
  font-family: serif;
  font-weight: normal; }

#g-login-btn span.buttonText {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif; }
